* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  font-size: 3rem;
  text-align: center;
  margin: 2px;
}
.formwarpper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 38vw;
  background-color: #0a1819;
  padding: 3rem 2.5rem 2.5rem;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}
.logininput {
  margin: 0.7rem;
  padding: 0.6rem;
  border-radius: 1rem;
  border: none;
}
.submit-btn {
  align-self: center;
  background: #fff;
  padding: 0.6rem;
  width: 10vw;
  border-radius: 1rem;
  margin: 0.3rem;
}
.submit-btn:hover {
  color: white;
  background-color: black;
}
.enterdetailspage {
  background-color: #fff;
  color: #01090c;
  display: flex;
  width: 100vw;
  height: 100vh;
}
label {
  font-size: large;
}
.leftside {
  /* display: flex; */
  /* align-items: center; */
  margin: 0.8em;
  width: 50%;
  overflow: auto;
  /* border: 2px solid black; */
}
.leftside::-webkit-scrollbar {
  display: none;
}
.leftside h2 {
  font-size: 2rem;
  font-weight: bolder;
}
.leftside .forminput {
  margin: 0.7em;
  padding: 0.3em;
}
.rightside {
  text-align: center;
  margin: 0.8em;
  width: 50%;
  border: 2px solid grey;
}
.input-text {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid grey;
  outline: none;
  margin: 0.4em;
  padding: 1em;
  border-radius: 2em;
  background-color: rgb(228, 218, 218);
  font-size: medium;
}
.generateccr {
  background-color: rgb(190, 190, 190);

  background-color: rgb(180, 172, 172);
  color: black;
  border: none;
  padding: 1.2em;
}
.generateccr:hover {
  background-color: rgb(180, 172, 172);
  color: white;
}
